{% extends 'base.html.twig' %}

{% block title %}Note-App!{% endblock %}

{% block body %}
<style>
   
   .cadre-todo
   {
     position: absolute;
     left: -50px;
   }
   .todo-container
   {
    position: absolute;
    width: 430px;
    height: 636px;
    left: 864px;
    top: 162px;

   }
   .background
   {
    width: 430px;
    height: 202px;
    left: 864px;
    top: 162px;

    border-radius: 10px 10px 0px 0px;
   }

   .day
   {
    position: absolute;
    width: 60px;
    height: 22px;
    left: 334px;
    top: 114px;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;

   }

   .date
   {
    position: absolute;
    width: 192px;
    height: 58px;
    left: 210px;
    top: 131px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    color: #FFFFFF;

   }
   .note-cadre
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 373px;
    height: 49px;
    left: 893px;
    top: 428px;

   }

   .note-text-cadre-email 
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 267px;
    height: 27px;
    background: cornflowerblue;
    border-radius: 27px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left:48px
   }

    .note-text-cadre-password
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 267px;
    height: 27px;
    background: cornflowerblue;
    border-radius: 27px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    position: absolute;
    top: 75px;
    left:48px;
   }
   .note-text 
   {
    width: 275px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    border: none;
    background: none;
    outline: none;

   }
   .date-select
   {
       display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 11px;
      isolation: isolate;
      width: 50px;
      height: 46px;
      border-radius: 5px;
      flex: none;
        flex-grow: 0;
      flex-grow: 0;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      position: absolute;
      left: 304px;
      top: 2px;
      background: url('https://api.iconify.design/uil/angle-down.svg') no-repeat center center / contain;
        background-color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: #20EEB0;
      border: 1px solid;


   }
   .date-select-choice
   {
       display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 11px;
      isolation: isolate;
      width: 50px;
      height: 46px;
      border-radius: 5px;
      flex: none;
        flex-grow: 0;
      flex-grow: 0;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      position: absolute;
      left: 304px;
      top: 2px;
        background-color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: #20EEB0;
      border: 1px solid;


   }
   .btn
   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 11px;
    isolation: isolate;
    width: 114px;
    height: 46px;
    background: #20EEB0;
    border-radius: 26px;
    flex: none;
    flex-grow: 0;
    flex-grow: 0;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    position: absolute;
    left: 141px;
    top: 165px;
    border: 1px solid;
   }
    
   .btn-icon
   {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 15px;
    gap: 10px;

    width: 46px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
   }
   .create-account
   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 11px;
    isolation: isolate;
    width: 114px;
    height: 0px;
    color: darkslateblue;
    border-radius: 0px;
    flex: none;
    flex-grow: 0;
    flex-grow: 0;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    position: absolute;
    left: 206px;
    top: 231px;
   }
</style>


   
  <div class="cadre-todo">
       
       <div class="todo-container">

         <img src="{{asset('/image/background.png')}}" alt="background" class="background">

      </div>


      <div class="note-cadre">

        <form action="{{path('app_login')}}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

              {% if error %}
                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}

              <div class="note-text-cadre-email">
                <label for="email" class="label-email" style="position: absolute;top: -23px;left: -15px;">
                  Email: </label>
                <input type="email" value="{{ last_username }}" name="email"  class="note-text" autocomplete="email" required autofocus>

              </div>

               <div class="note-text-cadre-password">

                <label for="password" class="label-password" style="position: absolute;top: -24px; left: -15px;">
                  Mot de passe: </label>

                  <input type="password" name="password"  class="note-text" autocomplete="current-password" required>


              </div>
              
               
                <button type="submit" class="btn">
                Se connecter
                 </button>

                 <a href="/register" class="create-account">
                  <p>Créer un compte</p>
                 </a>

                

                 
              
            
  
          </form>
      </div>

     

  </div>




{% endblock %}
